*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.nav-header{
    background: #66ffff;
}





.featured-product .card-img-overlay{
    top:60%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
}


.featured-product .card img:hover {
    transform: scale(1.01);
}
.card:hover .card-img-overlay {
    opacity: 1;
}